<div class="container">
  <div class="row">
    <%= render "books/sidebar", {user: @user, book: @book} %>
    <div class="col-1"></div>
    <div class="col-7">
      <div class="row">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                  <%= image_tag @user.get_profile_image(100,100) %><br>
                  <%= @user.name %>
                <% end %>
              </td>
              <td><%= link_to @user_book.title, book_path(@user_book) %></td>
              <td><%= @user_book.body %></td>
              <% if @user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@user_book), class: 'btn btn-success' %></td>
                <td><%= link_to "Destroy", book_path(@user_book), method: :delete, class: 'btn btn-danger', 'data-confirm' => '本当に削除しますか？' %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>